body {
    font-size: 12px;
    margin: 0;
    padding: 3mm;
    position: relative;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
    width: 210mm;
    height: 297mm;
}

.special-programs-body {

    width: 297mm;
    height: 210mm;
}

:root {
    --light-grey: #f0f0f0;
    --dark-grey: #d9d9d9;
    --mono-font: "Inconsolata", monospace;
    --bus-color: ##bus_color_code##;
    --bus-color-light: ##bus_color_code_light##;
    --class-color: ##class_color_code##;
    --class-color-light: ##class_color_code_light##;
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 45mm;
    height: 100%;
    z-index: -1;
    background-color: var(--bus-color);
    text-align: end;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.top-section,
.mid-section,
.mid-section-special {
    margin: 0;
    padding: 0;
}

.end-section {
    margin: 0;
    padding: .25rem;
}

.mid-section {
    border: 1px solid black;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
}

.mid-section-special {
    border: 1px solid black;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.top-row01,
.end-row01 {
    display: flex;
    gap: 3mm;
    justify-content: space-between;
    align-items: center;
}


.top-row02 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* Ensures Div 2 is centered */
    align-items: center;
    /* Align items vertically */
    gap: 3mm;
    padding-block-end: 3px;
    font-family: var(--mono-font);
    font-size: 1.75rem;
}



.top-row02>div:nth-child(2) {
    text-align: center;
    /* Center the text inside */
}

.top-row02>div:nth-child(3) {

    font-size: .85rem;
    text-align: right;
    font-variation-settings: "wdth" 80;
}




.top-row01 {
    padding-block: 3px;
    font-size: .85rem
}

.AM,
.flex-pick-up {
    color: #84cc16;
}

.PM {
    color: #ef4444
}

.top-row01 img {
    height: 8mm;
    padding: 0;
}




.mid-row01,
.mid-row02,
.mid-row03,
.mid-row04 {
    display: flex;
    gap: 3px;
    align-items: stretch;
    height: 100%;
}

.qr-code-outer-section {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: stretch;

}



.mid-row01,
.mid-row02,
.mid-row03 {
    border-bottom: 1px solid black;
}

.mid-row-main-content {

    border-block-end: 1px solid black;
    display: grid;
    grid-template-columns:
        max-content auto max-content 1fr 1fr .4fr;

    align-content: start;
}

.mid-row-main-content>div:last-child {
    border-block-end: 1px solid black;
}





.end-row01 {
    justify-content: center;


}

.instruction-number {
    font-size: 2em;
    padding-inline: 3px;
    font-family: var(--mono-font);
    align-self: center;
}

.instruction-text {
    padding: 3px;
    align-self: center;
    font-size: 10px;

}

.signatures {
    display: flex;
    flex: 1;
    gap: 6px;
    background-color: var(--light-grey);
    padding: 3px;
    align-items: center;
}

.cell {
    background-color: white;
    flex: 1;
    text-align: center;
    align-self: stretch;
    min-height: 10mm;
    font-size: .85em;
}


.mid-row03 {
    grid-column: 1;
    /* First column */
    grid-row: 1;
    /* First row */
}

.mid-row04 {
    grid-column: 1;
    /* First column */
    grid-row: 2;
    /* Second row */
}

.barcode {
    padding: 3px;
    background-color: white;
    border-inline-start: 1px solid black;
    grid-column: 2;
    /* Second column */
    grid-row: 1 / span 2;
    /* Start at row 1, span 2 rows */
    min-width: 2mm;
    aspect-ratio: 1 / 1;
}

.barcode img {
    width: 20mm;
    height: auto;
}

.property-of {
    display: flex;
    gap: 3px;
    align-items: center;
    align-self: stretch;
    background-color: white;
    border: 1px solid black;
    padding: 3px;
    font-size: .6rem;

}

.warning-icon {
    flex-basis: 8mm;
    aspect-ratio: 1 / 1;
    align-self: stretch;
}

.column-headings {
    text-align: center;
}

.column-headings01 {
    text-align: center;
    grid-column: span 3;
}

.trip,
.trip-title,
.student-row,
.headings-outer {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 6;
}

.headings-outer>div:nth-child(-n+3) {
    border-inline-end: 1px solid black;
}

.headings-outer>div {
    padding: 6px;
}

.trip {
    border-block-start: 1px solid black;
    font-family: var(--mono-font);
    font-variation-settings: "wdth" 80;
    ##trip_font_size##
}





.trip-title {
    grid-column: span 6;
    background-color: var(--bus-color-light);

}


.flex-pick-up {
    width: 3mm;
    height: 3mm;
    position: absolute;
    display: flex;
    right: 0;



}

.name-box:has(.flex-pick-up)>div:first-child {
    padding-inline-end: 6px;
}



.student-row>div,
.trip-title>div {


    padding-inline: 3mm;
}


.student-row>div:nth-child(n+3):nth-child(-n+5) {

    border-inline-end: 1px solid black;
}

.trip>div:not(:first-child) {
    border-block-start: 1px solid black;
}

.depart {
    grid-column: span 5;
}

.name-box {
    display: grid;
    grid-template-columns: 1fr auto;

    align-items: center;
    position: relative;
}

div.content.wrapper {
    border: 3mm solid var(--class-color-light);
    padding: 6px;
}

.mid-row-special02 {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content max-content 1fr 1fr max-content min-content min-content min-content min-content;
    ;
}

.mid-row-special-heading,
.special-trip,
.mid-row-special02>div,
.special-student-row {
    grid-column: span 13;
    display: grid;
    grid-template-columns: subgrid;

    align-items: stretch;
}

.mid-row-heading-01 {
    grid-column: span 2;
}

.mid-row-special02>.trip>.trip-title {
    grid-column: span 13;
}

.mid-row-special02>.trip>div {
    align-items: center;
}



.trip-title>div {
    grid-column: span 13;
}

.index-number {

    width: 1rem;
}

.svg-allergy {
    width: .85rem;
    height: .85rem;
}
.age{
    
    text-align: center;
   justify-content: center;

}
.special-name-box {

    justify-content: space-between;
    align-items: center;

}



.special-student-row>div {
    display: flex;
    gap: .5rem;
    align-items: center;
    padding-inline: .25rem;
}

.bus-icon {
    display: flex;
    align-items: center;
    justify-content: center;

}

.bus-ext {
    justify-content: center;
    text-align: center;
}

.index-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    font-weight: 600;
    aspect-ratio: 1/1;
    justify-self: center;
}

.mid-row-special-heading {
    text-align: center;

}

.mid-row-special-heading>div {
    padding-inline: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .65rem;
}

.special-student-row>div {
    padding-inline: .5rem;
    line-height: 2;
}

.mid-row-special-heading>div:not(:last-child),
.special-student-row>div:not(:last-child) {
    border-inline-end:  1px solid black;
}

.mid-row-special-heading,
.special-student-row {
    border-block-end:  1px solid black;
}

.mid-row-special02 > div:first-child {
    background-color: var(--dark-grey);
}

.mid-row-special02 > div:nth-child(even):not(:first-child) {
    background-color: var(--light-grey);
}

.mid-row-special01{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: .85rem;
    font-weight: 600;
    padding: .5rem;
    border-block-end: 1px solid black;
}

.mid-row-special03{
    display: flex;
    flex-wrap: nowrap;
}

.take-pictures{
    flex-grow: 1;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.take-pictures>div:nth-child(2){
    text-align: right;
    font-size: .7rem;
    
}

.class-color{
    color:var(--class-color)
}

.mid-row-heading-07,
.mid-row-heading-08,
.mid-row-heading-09,
.mid-row-heading-010{
    font-size: .6rem !important;
}
